VITE_SUPABASE_URL=https://oreccwnislwstvpufkek.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZWNjd25pc2x3c3R2cHVma2VrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MjY3MjMsImV4cCI6MjA5MzUwMjcyM30.eLQ7ZO0JZj6DZjIbLvjBIzTO8TBnhFjGd9TZodnElbU
